<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- styltsheets -->
    <link href="/stylesheets/addcategory.css" rel="stylesheet" />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <!-- box-icos -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>E-Commerce System</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="nav container">
        <div class="menu">
          <a href="#" class="logo">E-Commerce System</a>
          <div class="nav-menu">
            <a href="/" class="menu-link">หน้าแรก</a>
            <a href="" class="menu-link">จัดการสินค้า</a>
          </div>
        </div>
        <a href="/products/cart"
          ><i class="bx bx-shopping-bag" id="cart-icon"></i
        ></a>
      </div>
    </header>
    
    <%- include('layout')%>
    <!-- section-categories -->
    <section class="form container">
        <div class="form-content">
                <div class="form-box">
                    <h2 class="section-title">เพิ่มหมวดหมู่สินค้า</h2>
                <% if(locals.errors){ %>
                    <ul class="alert alert-danger" role="alert">
                      <% Object.values(errors).forEach(function(error){ %>
                      <li><%= error.msg %></li>
                      <% }) %>
                    </ul>
                    <% } %>
                <form action="/categories/add" method="post" >
                  <div class="form-group">
                    <label for="">ชื่อหมวดหมู่สินค้า</label>
                    <input type="text" name="name" id="" class="form-control" />
                  </div>
                  <input
                    type="submit"
                    value="บันทึกข้อมูล"
                  />
                </form>
                </div>
            </div>
          </div>
        </div>
      </section>
  </body>
</html>
